
.searchResultPage__result {
    cursor: pointer;
    padding: 20px;
    background-color: #98c8bd;
    margin-bottom: 20px;
    width: 1045px;
}

.searchResultPage__result:last-child {
    border-bottom: 0 none;
}

.searchResultPage__result_title {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin: 0 6px;
}

.searchResultPage__result_text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #363636;

    white-space: normal;
    line-height: 1.2;
    height: 3.6em;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}