.searchPage__input_wrap {
    margin: 0 auto;
    display: table;
}

.searchPage__title {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    font-size: 20px;
    text-align: center;
    margin-bottom: 1.5em;
}

.searchPage__text {
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Alegreya Sans', sans-serif;*/
    font-size: 14px;
    text-align: center;
    margin-bottom: 1.5em;
}

.searchPage__suggested_query_wrap {
    margin: 0 auto;
    display: table;
}

.searchPage__suggested_query {
    display: inline-block;
    padding: 0.4em 1em;
    border-radius: 40px;
     background-color: #489685;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    /*border: 2.5px solid #489685;*/
    color: #231f20;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}