.myNewsBox__item {
    display: flex;
    color: #fce373;
    font-family: 'Noto Sans KR', sans-serif;
    justify-content: space-evenly;
}

.myNewsBox__item_time {
    color: #ffaa64;
}

.myNewsBox__item_name {
    /*color: #77b4e5;*/
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    height: 20px;
}

.myNewsBox__item_name:hover {
    text-decoration: underline;
}