* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #231f20;
}

.intrinsic {
    height: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.sectionStyle {
    position: relative;
    width: 100%;
}

@media only screen and (min-width: 1024px) {
    .sectionStyle {
        padding: 8vw 0 8vw 40vw;
    }
}