*, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #231f20;
}

h1, h2,h3,h4 {
    margin: 0;
}

.intrinsic {
    height: 0;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.sectionStyle {
    position: relative;
    width: 100%;
}

.news-card__infos {
    text-align: center;
    padding: 1em 0;
    color: #231f20;
    transition: opacity .45s cubic-bezier(.215,.61,.355,1),visibility 0s linear .45s;
}

.news-card__title {
    font-size: 21px;
    font-size: 1.4vw;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: .01em;
    margin: .5em 0;
}

@media only screen and (min-width: 1024px) {
    .sectionStyle {
        padding: 8vw 0 8vw 40vw;
    }
}