.home-exhibition {
    background: #cca69a;
    padding: 0!important;
}

.home-exhibition__inner {
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 3vw 0 8em 8vw;
}

.home-exhibition .top-wrapper {
    left: .5em;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-highlighted-section__card-wrapper {
    position: relative;
    cursor: grab;
    outline: 0;
    padding-right: 4vw;
    margin-top: 1.5vw;
}

.home-exhibition__inner .event-card-home {
    width: 56vw;
    margin: 0 3vw;
}

.pinkMainSlideBtn:hover {
    color: #fce373 !important;
}

@media only screen and (max-width: 1199px) {
    .home-exhibition__inner {
        padding-bottom: 4em;
    }
}


@media only screen and (min-width: 1024px) {
    .home-exhibition__inner {
        padding-left: 4vw;
    }

    .home-exhibition__inner .event-card-home {
        width: 32vw;
        margin: 0 2vw;
    }
}

#event-card-list .slick-list {
    overflow: initial;
}